# Database
*.sqlite
*.sqlite3


# Config
config.php


# Log Files
/log/
*.log


# VS Code files for those working on multiple tools
.vscode/*


# Local History for Visual Studio Code
.history/

# Composer
composer.phar
/vendor/

# PHP
*.ini
*.env
