# Database
*.sqlite
*.sqlite3


# Config
config.php


# Ignore everything in the /themes/ directory
/themes/*

# Except the /themes/default directory and its contents
!/themes/default/
!/themes/default/**


# Log Files
/log/
*.log


# VS Code files for those working on multiple tools
.vscode/*


# Local History for Visual Studio Code
.history/

# Composer
composer.phar
/vendor/

# PHP
*.ini
*.env
